:root {
    --prim-color-cyan: hsl(180, 66%, 49%);
    --prim-color-dark-violet: hsl(257, 27%, 26%);
    --sec-color-red: hsl(0, 87%, 67%);
    --neutral-color-gray: hsl(0, 0%, 75%);
    --neutral-color-grayish-violet: hsl(257, 7%, 63%);
    --neutral-color-dark-blue: hsl(255, 11%, 22%);
    --neutral-color-dark-violet: hsl(260, 8%, 14%);
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --desktop-max-width: 1110px;
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
}

/* headings */

h1 {
    font-style: normal;
    font-weight: var(--font-weight-bold);
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -2px;

    color: var(--prim-color-dark-violet);
}

h2 {
    font-style: normal;
    font-weight: var(--font-weight-bold);
    font-size: 40px;
    letter-spacing: 1px;

    color: var(--prim-color-dark-violet);
}

h3 {
    font-style: normal;
    font-weight: var(--font-weight-bold);
    font-size: 22px;
    line-height: 33px;

    color: var(--prim-color-dark-violet);
}

.header-white {
    color: white;
}

p {
    font-weight: var(--font-weight-medium);
    font-size: 22px;
    line-height: 36px;
    letter-spacing: .15px;

    color: var(--neutral-color-grayish-violet);
}

/* Buttons */

.button-round {
    color: white;
    font-weight: var(--font-weight-bold);
    font-size: 20px;
    line-height: 30px;

    border: none;
    background-color: var(--prim-color-cyan);
    padding: 12px 40px;
    border-radius: 28px;
    cursor: pointer;
}

html, body {
    height: 100%;
}

.main-container {
    height: 100%;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: var(--font-weight-medium);
    display: grid;
    margin: 0;
    grid-template-areas: 
                "header"
                "main"
                "footer";
    grid-template-rows: auto 1fr 310px;
    grid-template-columns: 1fr;
}

/* Header */
header {
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1110px;
}

.nav > li {
    display: inline;
}

.nav-main {
    flex: 1 1 auto;
}

/* Main */
.content-container {
    display: grid;
    grid-template-areas: 
        "hero"
        "statistics"
        "boost";
    grid-template-columns: 1fr;
    margin: 0;
    width: 100%;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    display: flex;
}

.statistics {
 background-color: #EFF1F7;
}

.statistics-details {
    display: flex;
}

.boost {
    background-color: var(--prim-color-dark-violet);
}

/* Footer */
footer {
    color: var(--neutral-color-gray);
    background-color: var(--neutral-color-dark-violet);
}

.footer-container {
    display: grid;
    grid-template-areas: "logo links";
    grid-template-columns: 1fr 3fr;
    max-width: 1110px;
    margin: 70px auto;
}

.footer-logo {
    grid-area: logo;
    width: 120px;
    height: 33px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(307deg) brightness(104%) contrast(101%);
}

.footer-links {
    grid-area: links;
    display: grid;
    grid-template-areas: "cards socials";
    grid-template-columns: 3fr 1fr;
}

.footer-cards {
    grid-area: cards;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-card .list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.footer-card > h3 {
    margin-top: 0;
    color: white;
}

.footer-card > ul > li {
    color: var(--neutral-color-gray);
    display: inline;
}

.footer-card > ul > li:hover {
    color: var(--prim-color-cyan);
}

.footer-socials {
    grid-area: socials;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-socials > img:hover {
    color: var(--prim-color-cyan);
}