:root {
    --prim-color-cyan: hsl(180, 66%, 49%);
    --prim-color-dark-violet: hsl(257, 27%, 26%);
    --sec-color-red: hsl(0, 87%, 67%);
    --neutral-color-gray: hsl(0, 0%, 75%);
    --neutral-color-grayish-violet: hsl(257, 7%, 63%);
    --neutral-color-dark-blue: hsl(255, 11%, 22%);
    --neutral-color-dark-violet: hsl(260, 8%, 14%);
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

html, body {
    height: 100%;
}

body {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: var(--font-weight-medium);
    display: grid;
    margin: 0;
    grid-template-areas: 
                "header"
                "main"
                "footer";
    grid-template-rows: 150px 1fr 310px;
    grid-template-columns: 1fr;
}

/* Header */
header {
    display: flex;
    align-items: center;
    height: 40px;
}

.nav > li {
    display: inline;
}

.nav-main {
    flex: 1 1 auto;
}

/* Main */
.hero {
    display: flex;
}

.statistics {
 background-color: #EFF1F7;
}

.statistics-details {
    display: flex;
}

/* Footer */
footer {
    color: var(--neutral-color-gray);
    background-color: var(--neutral-color-dark-violet);
}

.footer-container {
    display: grid;
    grid-template-areas: "logo links";
    grid-template-columns: 1fr 3fr;
    max-width: 1110px;
    margin: 70px auto;
}

.footer-logo {
    grid-area: logo;
    width: 120px;
    height: 33px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(307deg) brightness(104%) contrast(101%);
}

.footer-links {
    grid-area: links;
    display: grid;
    grid-template-areas: "cards socials";
    grid-template-columns: 3fr 1fr;
}

.footer-cards {
    grid-area: cards;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-card .list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.footer-card > h3 {
    margin-top: 0;
    color: white;
}

.footer-card > ul > li {
    color: var(--neutral-color-gray);
    display: inline;
}

.footer-card > ul > li:hover {
    color: var(--prim-color-cyan);
}

.footer-socials {
    grid-area: socials;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-socials > img:hover {
    color: var(--prim-color-cyan);
}