:root {
    --prim-color-cyan: hsl(180, 66%, 49%);
    --prim-color-dark-violet: hsl(257, 27%, 26%);
    --sec-color-red: hsl(0, 87%, 67%);
    --neutral-color-gray: hsl(0, 0%, 75%);
    --neutral-color-grayish-violet: hsl(257, 7%, 63%);
    --neutral-color-dark-blue: hsl(255, 11%, 22%);
    --neutral-color-dark-violet: hsl(260, 8%, 14%);
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

body {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: var(--font-weight-medium);
}